<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Working</h1>
        <img src=<%= li.img %> alt="">
        <h3><%= li.name %></h3>
        <h3><%= li.breed %></h3>
        <h3><%= li.height %></h3>
        <h3><%= li.gender %></h3>

        <form action="/home/adopt" method="get">
        <button>Adopt</button>
        </form>
</body>
</html>